.tableOfContent_listItem {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #ddd
}

.tableOfContent_listItem:hover {
    background-color: #aaa;
    color: #fff;
}